<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>

    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/styles.css" />

    <style>
 card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.card__image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}


@media (max-width: 480px) {
    .card {
        padding: 15px;
    }

    .card__time-container {
        flex-direction: column;
    }


  }
    </style>
  </head>
  <body>
    <!-- Encabezado de la pagina web -->
    <header>
      <div class="banner">
        <div class="banner__content">
          <h1>Bienvenido a Mi Sitio</h1>
        </div>
      </div>

      <!-- Menu de navegación -->
      <nav class="nav" aria-label="nav menu">
        <div class="nav__toggle" id="menuToggle">☰</div>
        <ul class="nav__list" id="menuList">
          <li class="nav__item">
            <a href="index.html" class="nav__link boton" data-page="inicio.html"
              >Inicio</a
            >
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link" data-page="about.html"
              >Acerca de nosotros</a
            >
          </li>
          <li class="nav__item">
            <a href="eventos.html" class="nav__link" data-page="event.html"
              >Eventos</a
            >
          </li>
          <li class="nav__item">
            <a href="calendar.html" class="nav__link" data-page="calendar.html"
              >Calendario</a
            >
          </li>
          <li class="nav__item">
            <a href="foro_index.html" class="nav__link" data-page="foro.html"
              >Foro</a
            >
          </li>
          <li class="nav__item">
            <a href="login.html" class="nav__link" data-page="login.html"
              >Login</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <!-- Contenido principal del body-->

    <main class="main">
      <div class="card">
        <img
          src="../../assets/images/error.jpg"
          alt="img de la tarjeta"
          class="card__image"
          id="preview"
        />
        
      </div>

    </main>

    <!-- Contenido del pie de pagina-->
    <footer class="footer">
      <div class="footer-content">
        <p>&copy; 2025 Mi Sitio Web. Todos los derechos reservados.</p>
        <nav class="footer-nav" aria-label="footer menu">
          <a href="#">Política de Privacidad</a>
          <a href="#">Términos y Condiciones</a>
          <a href="#">Contacto</a>
        </nav>
      </div>
    </footer>
  </body>

  <script src="../../js/menu_responsive.js"></script>
</html>
