:root {
  --color-primario: #2196f3;
  --color-accion: #4caf50;
  --color-notificacion: #ffc107;
  --color-iteraccion: #e91e63;

  --fuente-principal: "Montserrat", sans-serif;
  --fuente-secundaria: "Open Sans", sans-serif;
  --tamaño-titulo: 16px;
  --tamaño-boton: 14px;
  --tamaño-texto-cuerpo: 12px;
  --peso-negrita: 700;
  --peso-normal: 400;
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fuente-secundaria); /* Open Sans por defecto */
  font-size: var(--tamaño-texto-cuerpo); /* 12px para asegurar legibilidad */

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-primario);
}

/* Banner */
.banner {
  background: url(../assets/images/banner.jpg) no-repeat center calc(50% - 30px) /
    cover;
  color: white;
  text-align: center;
  padding: 40px; /* Aumentar la altura del banner */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.banner__content {
  max-width: 1200px;
  margin: 0 auto;

  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  margin-top: -20px;
  margin-bottom: -20px;
}

/* Menú de navegación */
.nav {
  background-color: #222;
  position: fixed;
  top: 140px; /* Altura del banner */
  width: 100%;
  z-index: 999;
  padding: 5px 0; /* Reducir el padding superior e inferior a la mitad */
}

.nav__toggle {
  display: none;
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item {
  padding: 15px;
  display: flex;
  align-items: center;
}

.nav__link {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  transition: background 0.3s;
  display: flex;
  align-items: center;
}

.nav__label {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  transition: background 0.3s;
  display: flex;
  align-items: center;
}

.nav__link:hover {
  color: var(--color-accion);
}

.nav__label:hover {
  color: var(--color-accion);
}

.nav__link img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

/* Submenú desplegable */
.nav__item--dropdown {
  position: relative;
}

.nav__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #222;
  list-style: none;
  padding: 0;
  min-width: 150px;
  z-index: 1000;
}

.nav__dropdown li {
  padding: 10px;
}

.nav__dropdown-link {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.nav__dropdown-link:hover {
  background-color: #444;
}

.nav__item--dropdown:hover .nav__dropdown {
  display: block;
}


/* Main */
main {
  flex-grow: 1;
  padding-top: 220px; /* Aumentar padding-top para evitar que el contenido quede oculto debajo del menú */
}
.main {
  margin: 0 auto;
  margin-bottom: 30px;
}

/* Footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

.footer-nav a {
  color: #ff6600;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  transition: color 0.3s;
}

.footer-nav a:hover {
  color: #cc5500a0;
}

* Estilo para títulos,
botones y etiquetas destacadas */ h1,
h2,
h3,
h4,
h5,
h6,
.boton,
.etiquetas-destacadas {
  font-family: var(--fuente-principal); /* Montserrat para títulos */
  font-weight: var(--peso-negrita); /* Negrita */
  font-size: var(--tamaño-titulo); /* 16px por defecto para títulos */
}

/* Estilo para texto de botones */
.boton {
  font-size: var(--tamaño-boton); /* 14px para botones */
}

/* Estilo para etiquetas destacadas */
.etiquetas-destacadas {
  font-size: var(--tamaño-boton); /* 14px también para etiquetas */
}

/* Estilo para párrafos y descripciones */
p,
.descripcion {
  font-family: var(--fuente-secundaria); /* Open Sans para cuerpo de texto */
  font-weight: var(--peso-normal); /* Normal para cuerpo de texto */
  font-size: var(--tamaño-texto-cuerpo); /* 12px */
}

/* Responsive */
@media (max-width: 768px) {
  .banner {
    background: url(../assets/images/banner.jpg) no-repeat center center/cover;
  }

  .nav {
    width: 100%; /* Restaurar el ancho completo en pantallas pequeñas */
    left: 0;
    top: 167px; /* Mover el menú más abajo en móviles */
  }

  .nav__list {
    display: none;
    flex-direction: column;
    background-color: #222;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
  }

  .nav__list--active {
    display: flex;
  }

  .nav__toggle {
    display: block;
    text-align: center;
  }
  .nav__item {
    padding: 0;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  main {
    padding-top: 230px; /* Aumentar el espacio para que el contenido no quede oculto */
  }
}

/*------------estilos pagina login-------------------------*/

.login-box {
  background: rgba(0, 0, 0, 0.5);
  max-width: 450px;
  color: #fff;
  position: relative;

  padding: 70px 60px;
  margin-top: 100px;
}

.login-box__logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.login-box input[type="text"],
input[type="password"],
input[type="email"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
}
.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #1c8acd;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #05dd46;
  color: black;
}

.login-box a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  margin-left: 30px;
}

.login-box a:first-of-type:hover {
  color: #e90707;
}

.login-box a:hover {
  color: #05dd46;
}
.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

/**/
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.card__image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card__input,
.card__button,
.card__select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.card__button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.card__button:hover {
  background-color: #0056b3;
}

.card__time-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Permite que los inputs se acomoden en móviles */
}

.card__time-container label {
  width: 48%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

@media (max-width: 480px) {
  .card {
    padding: 15px;
  }

  .card__time-container {
    flex-direction: column;
  }

  .card__time-container label {
    width: 100%;
  }

  .card__button {
    font-size: 14px;
    padding: 8px;
  }
}

/*inscribirse */
.event {
    text-align: center;
    margin-bottom: 20px;
}

.event__image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.event__title {
    font-size: 24px;
    margin: 10px 0;
}

.event__description,
.event__master,
.event__schedule,
.event__location,
.event__age-restriction {
    font-size: 16px;
    margin: 5px 0;
}

.event__register {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.players {
    text-align: center;
}

.players__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.players__table th,
.players__table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.players__remove {
    background: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .main {
        width: 100%;
        padding: 15px;
    }

    .event__title {
        font-size: 20px;
    }
}



/* Contenedor de las tarjetas */
.container__event {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
/* Tarjetas */
.card-event {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card-event:hover {
  transform: scale(1.05);
}

.card-event__image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-event__title,
.card-event__players,
.card-event__master {
  margin: 10px;
  text-align: center;
}

.card-event__title {
  font-size: 1.2em;
  font-weight: bold;
}

.card-event__players,
.card-event__master {
  font-size: 1em;
  color: #555;
}

/* Variantes de color */
.card-event--green {
  background-color: #a4e57a;
}

.card-event--orange {
  background-color: #ffcc80;
}

.card-event--gray {
  background-color: #cfd8dc;
}

/* Responsivo */
@media (max-width: 768px) {
  .container__event {
      grid-template-columns: 1fr;
  }
}



