/* Pequeño (teléfonos grandes) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /*  ---------------------------------------------------header------------------------------------------*/
    
    header{
        margin-bottom: 50px;
    }


    /*  -----------------------------------------------fin-header------------------------------------------*/

     /*  -----------------------------------------------banner---------------------------------------------*/
    .banner__text {
        font-size: 2.5em;
    }
     /*  -------------------------------------------fin-banner---------------------------------------------*/


/*  --------------------------------------------Menu---------------------------------------------*/

.menu {
    position: fixed;
    top: 130px;
    left: 0;
    width: 100%;
    background: #333;
    z-index: 1000;
    padding: 15px 0;
  }
  .menu__toggle {
    display: block;
  }
  .menu__list {
    display: none;
    flex-direction: column;
  }
  .menu__list.active {
    display: flex;
  }
  .submenu {
    position: relative;
    display: none;
  }
  .submenu.active {
    display: block;
  }
  .submenu__item {
    min-width: 100%;
  }

  /*  -------------------------------------------fin-Menu---------------------------------------------*/
    
}